body {
  margin: 0;
  font-family:'courier new',courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff5EDF 0%, #04c8de 100%);
}

button{
  cursor: pointer;
}